.subcontainer{
    font-size: 0;/* to remove whitespace */
}
.subcontainer input,.subcontainer label,.subcontainer select{
    margin: 4px;
    
}
#cnf input:not(.qty){
    min-width: auto;
    width: 80px;
}
.qty{
    width: 30px;
}
.subcontainer span,label{
    font-size: medium;
}
#addnewbtndiv{
    margin: 4px;
}
#maincontainer{
    display: inline;
    /* background-color: bisque; */
    font-size: medium;
}
#maincontainer button{
    text-align: center;
    min-width: fit-content;
    width: 30px;
    margin: 4px;
}
#totaldiv{
    /* display: inline-block; */
    position: relative;
    font-size: larger;
}